.main-layout {
	height: 100vh;

	.main-layout-right {
		position: relative;
		height: 100vh;
	}

	.main-layout-content {
		height: calc(100% - 64px);
		padding: 15px;
		overflow: auto;
	}
}

.layoutWrap {
	color: #fff;
}

.menuTrigger {
	padding: 0 24px;
	font-size: 18px;
	line-height: 64px;
	cursor: pointer;
	transition: color 0.3s;
}

.menuTrigger:hover {
	color: #1890ff;
}

.mian-container {
	padding: 15px;
	overflow: auto;
	background: #fff;
}

.mian-container-trs {
	padding: 15px;
	background: transparent;
}
