.main-left-slider {
	/* box-shadow: 0 2px 6px 4px rgba(26, 37, 51, 0.31); */

	.main-logo {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;
		height: 64px;
		font-size: 18px;
		color: #fff;
		background: #fff;
	}

	.main-menu {
		height: calc(100% - 64px);
		overflow-x: hidden;
		overflow-y: auto;
	}

	.ant-menu-submenu-title::before,
	.ant-menu-item::before {
		position: absolute;
		right: 0;
		left: 0;
		z-index: -1;
		display: block;
		width: 0;
		height: 100%;
		content: '';
		background: rgba(24, 144, 255, 0.5);
		box-shadow: 0 0 175px 0 rgba(24, 144, 255, 1);
		transition: all 0.6s;
	}

	.ant-menu-submenu-title,
	.ant-menu-item {
		z-index: 0;
		&:hover {
			color: #fff;

			&::before {
				width: 100%;
			}
		}

		> a {
			&:hover {
				color: #fff;
			}
		}
	}
}
