@import '@src/style/global.scss';

$inner-width: 336px;
.login-logo {
    img {
        position: absolute;
        top: 4vh;
        left: 4vw;
        width: 19.5vw;
        height: 6.5vh;
    }
}
.login-wrap {
    display: flex;
    align-items: center;
    height: 92vh;
    background: url(../../../assets/image/login/bj.png) no-repeat center center;
    background-size: cover;

    .pj-text {
        position: absolute;
        top: 18.4vh;
        left: 7.8vw;
    }

    .pj-title {
        margin-bottom: 8px;
        // font-size: 50px;
        font-weight: bold;
        color: #fff;
    }

    .pj-explain {
        // font-size: 24px;
        color: #a6e1ff;
    }

    .login-box {
        position: absolute;
        right: 10vw;
        padding: 40px 30px;
        background: #fff;
        border-radius: 8px;
        .navToRegister {
            margin-bottom: 20px;
            text-align: right;
        }

        h1 {
            margin-bottom: 5px;
            font-size: 32px;
            font-weight: bold;
            line-height: 40px;
            color: #000;
            text-align: left;
        }
        .sub-h1 {
            margin-bottom: 15px;
            font-size: 16px;
            line-height: 24px;
            color: #9b9b9b;
        }

        .login-input {
            width: $inner-width;
            height: 48px;
            min-height: 21px;
            background: #fff;
            border: 1px solid #d9d9d9;
            border-radius: 4px;

            .ant-input-prefix {
                margin-right: 8px;
            }
        }

        .login-submit {
            width: $inner-width;
            height: 48px;
            padding: 0;
            margin-top: 10px;
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            text-align: center;
            background: #4674d4;
            border-radius: 4px;
            box-shadow: 0 10px 14px 0 rgba(70, 116, 212, 0.2);
        }

        .captcha-wrap {
            position: relative;

            .captchaImg {
                position: absolute;
                top: 8px;
                right: 10px;
                height: 30px;
            }
        }

        .captcha-input {
            padding-right: 120px;
        }
        .forget-password {
            float: right;
            margin-top: -15px;
        }
    }
}
.login-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    background: #040c21;
    .friendly-link {
        margin-bottom: 0;
        li {
            float: left;
            margin-right: 55px;
        }
        a {
            color: #fff;
        }
    }
    .copyright {
        margin-left: 30px;
        color: #fff;
    }
    .cut-off-line {
        width: 1px;
        height: 24px;
        background: #fff;
    }
}
