.resgister-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 92.6vh;
	overflow: hidden;
	// background: url(../../assets/image/bj_register.png) no-repeat center center;
	background-size: cover;

	.resgister-box {
		// position: absolute;
		padding: 0 6vw 1.8vh;
		background: #fff;

		.navToLogin {
			margin-bottom: 20px;
			text-align: right;
		}

		h1 {
			margin: 4vh auto;
			font-size: 36px;
			font-weight: bold;
			line-height: 45px;
			color: #000;
			text-align: center;
		}

		.login-input {
			width: 400px;
			height: 5.9vh;
			min-height: 21px;
			background: #fff;
			border: 1px solid #d9d9d9;
			border-radius: 4px;

			.ant-input-prefix {
				margin-right: 8px;
			}
		}

		.login-register {
			width: 400px;
			height: 5.9vh;
			min-height: 21px;
			font-size: 20px;
			font-weight: bold;
			color: #fff;
			text-align: center;
			background-image: linear-gradient(270deg, #41d2e4 0%, #0089f3 100%);
			border-radius: 4px;
		}

		@media (max-width: 1600px) {
			.login-register {
				font-size: 16px;
			}
		}
	}
}
