/*
.block {
    padding-top: 20px;
    padding-bottom: 5px;
    margin: 0 !important;
    border: 1px solid #ececec;
    border-radius: 4px;
}

.col-item {
    margin-bottom: 15px;
}
*/
@import '@styles/_var.scss';

.block {
    padding-top: $p-md;
    padding-bottom: $p-xs;
    margin: 0 !important;
    font-size: $font-size-base;
    border: $border-width-base $border-style-base $border-color-base;
    border-radius: $border-radius-base;

    .col-item {
        margin-bottom: $m-base;
    }
}
