@import '@styles/_var.scss';
// -------- Font --------
$font-size-base: 12px;
$font-size-m: $font-size-base + 2px;
$font-size-l: $font-size-base + 4px;
$font-size-xl: $font-size-base + 6px;
$font-size-xxl: $font-size-base + 8px;
$font-size-xxxl: $font-size-base + 10px;

$body-bg: #f8f9fd;
$white-color: #fff;
li {
    list-style: none;
}
* {
    padding: 0;
    margin: 0;
}
body {
    overflow: hidden;
    background: $body-bg;
    ol,
    ul,
    dl {
        margin: 0;
        margin-bottom: 0;
    }
}

textarea {
    resize: none;
}

.modal-center {
    margin: 0 auto;
    text-align: center;
}
.vertical {
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 5px;
    vertical-align: middle;
    background: #e9e9e9;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
// 常规间距
.mb10 {
    margin-bottom: 10px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.ml10 {
    margin-left: 10px !important;
}
.ml20 {
    margin-left: 20px !important;
}
.mr10 {
    margin-right: 10px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}
.pb20 {
    padding-bottom: 20px !important;
}
.pt10 {
    padding-top: 10px !important;
}
.pt20 {
    padding-top: 20px !important;
}
.pl10 {
    padding-left: 10px !important;
}
.pl20 {
    padding-left: 20px !important;
}
.pr10 {
    padding-right: 10px !important;
}
.pr20 {
    padding-right: 20px !important;
}
.pd20 {
    padding: 20px !important;
}
.pdnone {
    padding: 0 !important;
}
// 长度设置
.widthFull {
    width: 100% !important;
}
.w400 {
    width: 400px !important;
}
.w300 {
    width: 300px !important;
}
.w200 {
    width: 200px !important;
}
.alert {
    padding: 6px 12px;
    margin-bottom: 6px;
    line-height: 18px;
    border-radius: 0;
}

.text-danger {
    color: #f00 !important;
}
.space-around {
    display: flex;
    justify-content: space-around;
}
.space-between {
    display: flex;
    justify-content: space-between;
}
.blue {
    color: #4674d4 !important;
}


// 高级搜索
.search-form {
    padding: 20px 20px 0;
    margin-bottom: $p-md;
    background: $white-color;

    .ant-form-item {
        margin-bottom: $p-md;
    }
    .ant-form-item-with-help {
        margin-bottom: -2px;
    }

    /* 小屏幕（平板，大于等于 992px） */
    @media (min-width: $screen-sm-min) {
        .ant-form-item label,
        .ant-form-item span,
        .ant-form-item div,
        .ant-form-item input {
            font-size: 12px;
        }
    }
    @media (min-width: $screen-md-min) {
        .ant-form-item label,
        .ant-form-item span,
        .ant-form-item div,
        .ant-form-item input {
            font-size: 12px;
        }
    }
    @media (min-width: $screen-lg-min) {
        .ant-form-item label,
        .ant-form-item span,
        .ant-form-item div,
        .ant-form-item input {
            font-size: 14px;
        }
    }
}
// 搜索表格
.searchTable-toolbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: $white-color;
    border-bottom: 1px solid #e9e9e9;
}
.searchTable-wrap {
    padding: $p-md;
    background: $white-color;
}
// tabs wrap 样式修改
.tabs-wrap .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap,
.tabs-wrap .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
    padding: 0 20px;
    margin-bottom: -16px;
    background: #fff;
    border-bottom: 1px solid #eee;
}
.tabs-wrap .ant-tabs .ant-tabs-content-holder .ant-tabs-content .ant-tabs-nav-wrap,
.tabs-wrap .ant-tabs .ant-tabs-content-holder > div > .ant-tabs-content .ant-tabs-nav-wrap {
    padding: 0;
    margin-top: -10px;
}
.tab-wrap .ant-tabs-tab {
    line-height: 32px;
}
// 详情页通用样式
.detailWrap {
    margin-bottom: 50px;
    .ant-descriptions,
    .detail-item {
        margin-bottom: 20px;
        background: #fff;
    }
    .detail-header {
        font-weight: bold;
        color: rgba(0, 0, 0, 0.85);
    }
    .ant-descriptions-header,
    .detail-item .detail-header {
        padding: 0 20px;
        border-bottom: 1px solid #e8e8e8;
        .right-info {
            font-size: 14px;
            font-weight: 400;
        }
    }
    .ant-descriptions-title,
    .detail-item .detail-header {
        font-size: 16px;
        line-height: 56px;
    }
    .ant-descriptions-view {
        padding: 0 20px;
    }
    .detail-item .detail-content {
        padding: 20px;
    }
    .fixedBtn {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 10px 25px;
        margin-top: 20px;
        background: #fff;
        border-top: 1px solid #e8e8e8;
    }
    .ant-tabs-content{
        .ant-tabs{
            margin-top: -7px;
            .ant-tabs-nav-wrap{
                border: 0;
                .ant-tabs-ink-bar{
                    display: none;
                }
            }
        }
        .ant-tabs-tab-btn{
            font-size: 14px !important;
        }
    }
}
.card-detail .ant-descriptions {
    margin-bottom: 0;
}
.ant-alert-info p {
    margin-bottom: 5px;
}
// 详情页字体改为14px
.main-layout .detail-item {
    .ant-tabs-tab {
        font-size: 16px;
    }
}
.main-layout .detail-item .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    font-size: 16px;
    font-weight: bold;
}
// @media screen and (max-height: 800px) {
@media (max-width: $screen-lg-min) {
    .detailWrap .ant-descriptions-header,
    .detail-item .detail-header {
        line-height: 46px;
    }
    // 字体改为12px
    .main-layout {
        .ant-breadcrumb,
        .ant-menu,
        .ant-tabs-tab,
        .ant-btn,
        .ant-form,
        .ant-table {
            font-size: 12px;
        }
        .ant-card-head {
            font-size: 14px;
        }
    }
    .main-layout .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        font-size: 12px;
    }
    // 详情页字体改为14px
    .main-layout .detail-item {
        .ant-tabs-tab {
            font-size: 14px;
        }
    }
    .main-layout .detail-item .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        font-size: 14px;
        font-weight: bold;
    }
    .ant-descriptions-row .ant-descriptions-item-label,
    .ant-descriptions-row .ant-descriptions-item-content {
        font-size: 12px;
    }
    ._modal-wrap {
        .ant-alert-info p,
        .ant-form-item-label > label,
        .ant-form-item {
            font-size: 12px;
        }
        .ant-form-item {
            margin-bottom: 18px;
        }
        .ant-form-item-with-help {
            margin-bottom: 0;
        }
        .ant-form-item label,
        .ant-form-item span,
        .ant-form-item div,
        .ant-form-item input {
            font-size: 12px;
        }
        .text-form {
            margin-bottom: 5px;
        }
    }
    .ant-result {
        padding: 20px 32px;
    }
}
// 必填得红色星号目前项目不需要展示
.mian-container .ant-form-item-label > label.ant-form-item-required::before,
.ant-modal .ant-form .ant-form-item-label > label.ant-form-item-required::before,
.searchTable-wrap .ant-row .ant-form-item-label > label.ant-form-item-required::before {
    display: none;
}
.ant-card-head .ant-card-extra {
    padding: 10px 0;
}
._modal-wrap .modalForm {
    width: 60%;
    margin: 0 auto;
}
.ant-table .ant-btn {
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    border: 0;
}
// 详情页样式
.detail-content .title-info {
    display: flex;
    flex-wrap: wrap;
    // min-height: 64px;
    padding: 10px 20px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    background: #f4f6fc;
    border: 1px solid #c8d6f3;
    border-radius: 4px;
    div {
        width: 33.3333%;
        // padding-left: 30px;
        span {
            display: inline-block;
            text-align: right;
        }
    }
}
.detail-item .ant-tabs .table-title {
    font-size: 14px;
    font-weight: 700;
}
// popoverf 最高不超过500px
.ant-popover-inner-content {
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}
//  table padding setting
.detailWrap .ant-descriptions-row > th,
.detailWrap .ant-descriptions-row > td {
    padding-bottom: 10px;
}
.ant-table-wrapper .ant-table-thead > tr > th,
.ant-table-wrapper .ant-table-tbody > tr > td,
.ant-table-wrapper .ant-table tfoot > tr > th,
.ant-table-wrapper .ant-table tfoot > tr > td {
    padding: 10px;
}

.longTd {
    display: block;
    max-width: 500px;
}
.bb-line {
    border-bottom: 1px solid #efefef;
}
.pt15 {
    padding-top: 15px;
}
.w100 {
    width: 100px;
}
.package-desc .ant-descriptions-view {
    padding: 0 40px;
}
.ant-descriptions-row .ant-descriptions-item-label {
    justify-content: flex-end;
    width: 100px;
}
.spenddt .ant-descriptions-row .ant-descriptions-item-label {
    width: 140px;
}
.label-right {
    display: inline-block;
    margin: 0;
    text-align: right;
}
.text-overflow {
    display: inline-block !important;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.table-overflow {
    display: inline-block !important;
    max-width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ant-empty-normal {
    margin: 10px 0;
}
.table-ellipsis {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.no-margin .ant-form-item {
    margin-bottom: 0;
}
.modal-scrolly{
    max-height: 420px;
    overflow-x: hidden;
    overflow-y: auto;
}
.border-table{
    td, th {
        border: 1px solid #ddd;
        padding: 5px;
    }
}